*~
*.o
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/configure
/config.h
/config.h.in
/config.log
/config.status
/libtool
/pinfo.spec
/stamp-h1
/Changelog

/macros/codeset.m4
/macros/gettext.m4
/macros/glibc2.m4
/macros/glibc21.m4
/macros/iconv.m4
/macros/intdiv0.m4
/macros/intmax.m4
/macros/inttypes-pri.m4
/macros/inttypes.m4
/macros/inttypes_h.m4
/macros/isc-posix.m4
/macros/lcmessage.m4
/macros/lib-ld.m4
/macros/lib-link.m4
/macros/lib-prefix.m4
/macros/libtool.m4
/macros/longdouble.m4
/macros/longlong.m4
/macros/ltoptions.m4
/macros/ltsugar.m4
/macros/ltversion.m4
/macros/lt~obsolete.m4
/macros/nls.m4
/macros/po.m4
/macros/printf-posix.m4
/macros/progtest.m4
/macros/signed.m4
/macros/size_max.m4
/macros/stdint_h.m4
/macros/uintmax_t.m4
/macros/ulonglong.m4
/macros/wchar_t.m4
/macros/wint_t.m4
/macros/xsize.m4

/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/quot.sed
/po/POTFILES
/po/*.gmo
/po/*.sed
/po/stamp-po

/tools/

/doc/pinfo.1
/doc/pinfo.info
/doc/version.texi
/doc/stamp-vti

/macros/macros.dep

/src/.deps/
/src/pinfo
/src/pinforc

